@charset "utf-8";

/* header */
#header { position: fixed; top:0; left:0; width:100%; height:100px; border-bottom:1px solid #e6e6e6; background:#fff; z-index:90; }
#header .header_dimmed { position:absolute; top:-452px; left:0; width:100%; background:#fff; z-index: 10; transition:all 0.3s; }
#header .header_dimmed.active { top:0; transition:all 0.3s; }
#header .header_search_area { max-width:1520px; margin:0 auto; padding:200px 0; display:flex; justify-content: center; align-items: center; position: relative; }
#header .header_search_area input { width:240px; height:50px; padding:0 10px;background:#f3f3f3;  border: 1px solid #e6e6e6; }
#header .header_search_area .modal_btn {  width:150px; height:50px; line-height: 50px; background:#000; text-align: center; color:#fff; border-radius:4px; margin: 0 0 0 10px; }
#header .header_close_btn { position: absolute; top: 80px; right: 270px; font-size:0; width:20px; height:20px; background:url(../images/00_common/ico_close.svg) no-repeat; }



#header .container { position: relative; height:100%;}
#header .header_util_wrap { position:absolute; top:0; right: 125px; display:flex; align-items: center; }
#header .search_btn { font-size:0; position: relative; }
#header .search_btn:before { content:'click!'; display:block; font-size: 14px; color:#dc000c; position:absolute; top: 5px; left: 0; font-weight: 600; z-index: -1; }
#header .search_btn { animation: unset; }
#header .header_util_item { display:inline-block; padding: 0 8px; }
#header .header_util_item a { font-size:14px; color:#666; }
#header .logo { display:inline-block; position:absolute; top:35px; left:0;  }
#header .logo a { display:block; font-size:0; width:100px; height:44px; background:url(../images/01_main/logo.svg) center center no-repeat; }
#header .nav_center { display:flex; justify-content: center; align-items: center;}
#header .nav_item { margin: 45px 0 0; }
#header .nav_item .nav_menu_txt { font-size:18px; font-weight:500; color:#111; }
#header .nav_menu_txt { display:inline-block; margin-left:30px; }
#header .nav_item.nav_right_area { margin-left: 20px; }
#header .nav_right_area .nav_menu_txt a { font-size: 14px; position: relative; }
#header .nav_right_area .nav_menu_txt a:after { content:''; display:block; position:absolute; top:0; right:-22px; background:url(../images/01_main/ico_header_link_black.svg); width:20px; height:20px;  }
#header .nav_button_area { display: flex; width: 240px; justify-content: flex-end;; }
#header .nav_btn_item button { width:100px; height:30px; font-size:14px; color:#fff; border-radius:4px; display: block; }
#header .nav_btn_item:first-child button { background:#000; }
#header .nav_btn_item:last-child button { background:#dc000c; margin-left:8px; }

/* modal */
.modal_mask_cover { position:fixed; top:0; left:0; right:0; bottom:0; background:rgb(0,0,0,0.3); z-index: 9999; display:none; }
.modal_area_wrap { position: fixed; top:50%; left:50%; transform: translate(-50%, -50%); z-index: 10000; display:none; }
.modal_area { width:500px; height:200px; border-radius:20px; background:#fff; }
.modal_area_wrap .modal_txt_area { text-align: center; padding-top:50px; }
.modal_area_wrap .modal_main_txt { font-size:24px; font-weight: 500; color:#dc000c }
.modal_area_wrap .modal_sub_txt { font-size:18px; margin-top:20px; }
.modal_area_wrap .modal_btn_close { position:absolute; top:20px; right:20px; font-size:0; width:20px; height:20px; background:url(../images/00_common/ico_close.svg) no-repeat; }
.modal_mask_cover.active { display:block; }
.modal_area_wrap.active { display:block; }




/* footer */
#footer { border-top:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; margin-top:50px; }
#footer .footer_menu_list_wrap { display:flex; justify-content: space-around; }
#footer .footer_menu_list a { display:block; width:200px; padding:31px 0; font-size: 16px; font-weight:500; text-align: center; }














